page{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.LiveBox{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .LivePlayerWarp{
    width: 100%;
    position: relative;
    overflow: hidden;
    .livePlayer{
      width: 100%;
      height: 100%;
    }
    .livePlayerControlWarp{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .livePlayerControl{
      background-color: red;
      height: 50px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
    }
    .livePlayerControlFull{
      background-color: yellow;
      height: 50px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 100;
    }
  }
  .LiveBoxMain{
    flex: 1;
    overflow: hidden;
  }
}

